
@media screen and (max-width: 1250px) {

   body {
       font-size: 50%;
    }
    #k1 div,
    #k2 div {
        font-size: 70px;
    }
}

@media screen and (max-width: 650px) {

    header {
        width: 100%;
        height: 15vh;
        line-height: 15vh;
    }
    header h1 {
        font-size: 2rem;
        height: 15vh;
        line-height: 15vh;
    }
    #k1,
        #k2 {
            height: 15vh;
            line-height: 15vh;
        }
    
    @keyframes example {

        0% {
            font-size: 0rem;
        }

        50% {
            font-size: 1rem;
        }

        100% {
            font-size: 3rem;
        }
    }

    #central {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #a {
       width: 100%;
       height: 15vh;
       line-height: 15vh;
    }
    #a1 {
        width: 100%;
        height: 5vh;
        line-height: 5vh;
    }
    #a2 {
        width: 100%;
        height: 10vh;
        line-height: 10vh;
    }
    #play{
        flex-wrap: wrap;
    }
    #play label{
        width: 45%;
        height: 5vh;
        line-height: 5vh;
    }
    #b{
        width: 70%;
        height: 70vh;
        left: 1vw;
    }
    #container {
        height: 68vh;
        width: 100%;      
        text-align: center;
        line-height: 68vh;       
    }
    .polje {
        width: calc(90% / 3);
        height: calc(67vh / 3);
        line-height: calc(67vh / 3);
    }
    #c {
        width: 25%;
        right: 1vw;
        border-radius: 0;
    }
    #k1 div,
    #k2 div {
        width: 50px;
        height: 50px;
        font-size: 50px;
    }
    #play label::before {
     top: 36%;
     left: 6%;
    }
} 

@media screen and (max-width: 500px) {

    #c {
        width: 28%;
    }
    #c2 {
        line-height: 10vh;
    }
    #refresh , #rules {
        /* font-size: 30%; */
    /* da se text ne bi prelamao ide nowrap na razmake izmedju reci*/
         white-space: nowrap; 
    /*overflow:hidden je u ovom slucaju bolja opcija od auto ili scroll-a*/
         overflow:hidden;
    }
    header h1 {
        white-space: nowrap;
        overflow:hidden;
    }  
    #c3 {
       line-height: 15vh;
       font-size: 50%;
     } 
 }

 @media screen and (max-width: 400px) {

     body {
         height: 100vh;
     }

    @keyframes example {

        0% {
            font-size: 0rem;
        }

        50% {
            font-size: 1rem;
        }

        100% {
            font-size: 2.5rem;
        }
    }      
 }

 @media screen and (max-height: 600px) {

    #play label::before {
        height: 0.7rem;
        width: 0.7rem;
        top: 25%;
        left: 6%;
    }
    #play input[type="radio"]:checked+label::before {
        height: 0.4rem;
        width: 0.4rem;
    }
 }